<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHwc27t330VKeGPQfGSg-IpnsF0pKE3Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>554515620700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yatri.travelapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yatri-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>yatri-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554515620700:ios:8040559a10b95cce985799</string>
</dict>
</plist>